<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.cms.dao.extend.UserExtendMapper">

    <!--关联-->
    <resultMap id="UserExtendResultMap" type="com.briup.apps.cms.bean.extend.UserExtend" extends="com.briup.apps.cms.dao.UserMapper.BaseResultMap">
    </resultMap>

    <select id="selectAllUsers" resultMap="com.briup.apps.cms.dao.UserMapper.BaseResultMap">
        select *
        from cms_user
    </select>


</mapper>